* {
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}

Body {
    background-color: rgb(187, 133, 238);
}

main {
    background-color: aquamarine;
    width:500px;
    margin:auto;
    padding:10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.268);
}